# ignore everything
*

# then whitelist needed files
!/res/**/*
!/scripts/**/*
!/transpiled/**/*
!/ava.config.js
!/tsconfig.json

# README, LICENSE and package.json are added automatically
# package-lock.json should not be published
# (see https://docs.npmjs.com/files/package-lock.json#description)
